{% extends "base.html" %}

{% block title %}Witaj! Zaloguj się{% endblock %}

{% block body %}
    <h1>Witaj na stronie aplikacji KnowYourMoney</h1>
    <h2>Prosimy o zalogowanie lub rejestrację nowego użytkownika:</h2>
    <form method="post">
    {% csrf_token %}
    <table>{{ form }}</table>
    <input type="submit" value="Zaloguj" class="btn btn-primary">
    </form>

    <a href="{% url 'registration' %}">Zarejestruj się</a>
    <p>Zapomniałeś hasła?</p><a href="{% url 'password_reset' %}">Zresetuj je</a>
{% endblock body %}
