{% extends "base.html" %}

{% block title %}Wprowadź nowe hasło{% endblock %}

{% block body %}

{% if validlink %}
<br>
<div class="container p-10">
        <div class="form-container">
          <div class="row justify-content-center align-content-center">
              <div class="col-md-8">
                  <div class="card p-5">
                    <h1 class="text-center">Ustaw nowe hasło!</h1>
                    <form method="POST">
                      {% csrf_token %}

                      <table>{{ form.as_p }}</table>
                        <div class="row justify-content-center align-content-center">
                      <input type="submit" value="Zmień hasło!" class="btn btn-primary">
                        </div>
                    </form>
                           </div>
                             </div>
              </div>
          </div>
        </div>


{% else %}
<br>
<div class="container p-10">
        <div class="form-container">
          <div class="row justify-content-center align-content-center">
              <div class="col-md-8">
                  <div class="card p-5">
<p class="text-center">Link do zmiany hasła był nieprawidłowy, najprawdopodbniej został użyty wcześniej. Poproś o kolejną zmianę hasła.</p>
                </div>
              </div>
          </div>
        </div>
</div>
{% endif %}
{% endblock body%}