{% extends 'base.html' %}

{% block title %}Zapomniałeś hasła?{% endblock %}

{% block body %}
<br>
<div class="container p-10">
        <div class="form-container">
          <div class="row justify-content-center align-content-center">
              <div class="col-md-6">
                  <div class="card p-5">
                    <h1 class="text-center">Zapomniałeś hasła?</h1>
                    <p class="text-center">Wpisz swój adres email poniżej, a wyslemy Ci instrukcje jak je zmienić.</p>

                    <form method="POST" class="text-center">
                      {% csrf_token %}
                      <div class="row justify-content-center align-content-center">
                      <table>{{ form.as_p }}</table>
                      </div>
                      <input type="submit" value="Zresetuj hasło!" class="btn btn-primary" >
                    </form>
                  </div>
              </div>
          </div>
        </div>
</div>
{% endblock body %}