{% extends 'base.html' %}
{% block body %}
{% block content %}
<br>
<div class="container p-10">
            <div class="form-container">
              <div class="row justify-content-center align-content-center">
                  <div class="col-md-6">
                      <div class="card p-5">
                        <h1 class="text-center">Dodaj wydatek</h1>
                        <br>
                        <form method="POST" action="{% url 'expense-create' %}" class="text-center">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary btn-block">Dodaj wydatek</button>
                        </form>
                      </div>
                  </div>
              </div>
            </div>
</div>
{% endblock %}

{% endblock body %}