{% extends 'base.html' %}
{% block body %}

      <h1>{{greet}} {{user}}:</h1>
        <ul>
            <li><a href="{% url 'expense-filter-list' %}">Lista wydatków</a></li>
            <li><a href="{% url 'income-list' %}">Lista dochodów</a></li>
            <li><a href="{% url 'expense-create' %}">Dodaj wydatek</a></li>
            <li><a href="{% url 'income-create' %}">Dodaj dochód</a></li>
            <li><a href="{% url 'category-create' %}">Dodaj kategorię</a></li>
            <li><a href="{% url 'source-create' %}">Dodaj źródło</a></li>
            <li><a href="{% url 'password_change' %}">Zmień hasło</a></li>
            <li><a href="{% url 'logout' %}">Wyloguj się</a></li>

        </ul>

{% endblock body%}dblock body%}