{% extends 'base.html' %}
{% block body %}

      <h1>Home Page:</h1>
        <ul>
          <li><a href="{% url 'expense-list' %}">Lista wydatków</a></li>
          <li><a href="{% url 'expense-create' %}">Dodaj wydatek</a></li>
          <li><a href="{% url 'category-create' %}">Dodaj kategorię</a></li>
          <li><a href="{% url 'source-create' %}">Dodaj źródło</a></li>
          <li><a href="{% url 'password_change' %}">Zmień hasło</a></li>
          <li><a href="{% url 'logout' %}">Wyloguj się</a></li>

        </ul>

{% endblock body%}