{% extends 'base.html' %}

{% block body %}

{% url 'income:all' as list_all %}

<div class="container d-flex justify-content-center mt-5" style="width: 50%;">
    <div class="col mt-5 text-center">
        <h1 class="mb-5">Delete Income</h1>

        <p class="h5">Are you sure you want to delete the Income:</p>
        <h3 class="my-5">{{ income.amount }}</h3>
        <form action="" method="POST">
            {% csrf_token %}

            <input type="submit" class="btn btn-primary btn-lg" value="Confirm" style="margin-right: 30px; margin-top: 30px;">
            <a href="{% url 'income-list' %}" class="btn btn-danger" style="margin-top: 30px;">Cancel</a>


        </form>
    </div>
</div>

{% endblock %}