{% extends 'base.html' %}

{% block body %}
{% for user in user_list %}
    {% for colname in user.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %}


<section style="background-color: #eee;">
  <section style="background-color: #99ccff;">
  <div class="container py-5">
    <section style="background-color: #99ccff;">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
           <li class="breadcrumb-item active" aria-current="page">Twój Profil</li>
          </ol>
        </nav>
      </div>
    </div>
<section style="background-color: #99ccff;">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{ user.username }}</h5>
<!--             <a href="{% url 'home' %}">Edytuj profil</a>-->
                  {% block content %}
                    <form method="POST" action="{% url 'user-update' user.id %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block">Edytuj profil</button>
                    </form>
                  {% endblock %}


          </div>
        </div>
        <div
          </div>
          </div>

       </div>

        <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Imię</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> {{ user.first_name }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nazwisko</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.last_name }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.email }}</p>
              </div>
            </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

{% endblock body %}